*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
font-family: sans-serif;
}

body{
  min-height: 100vh;
}

.container{
  position: relative;
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
  background: linear-gradient(45deg, #012, #035);
}

.container::after{
  content: '';
  position: absolute;
  width: 16rem;
  height: 16rem;
  background: linear-gradient(60deg, #f00, #f60);
  left: 2rem;
  top: 2rem;
  border-radius: 50%;
  filter: blur(3rem);
}

.container::before{
  content: '';
  position: absolute;
  width: 18rem;
  height: 18rem;
  background: linear-gradient(60deg, #44ff00, #00b3ff);
  right: 2rem;
  bottom: 1rem;
  border-radius: 50%;
  filter: blur(3rem);
}

.container .form{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  max-width: 500px;
  padding: 0 0 1rem 0;
  background: #001122a5;
  border: 0.13rem solid #515151;
  border-radius: 1rem;
  overflow: hidden;
  z-index: 1;
}

.container .form header{
  padding: 0.9rem 1rem;
  width: 100%;
  background: #0011225a;
  border-bottom: 0.1rem solid #696969;
}

.container .form header .title{
  text-align: center;
  color: #e3e3e382;
  text-transform: uppercase;
  font-size: 1.2rem;
}

.container .form .input__wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 2rem;
}

.container .form .input__wrapper input{
  position: relative;
  padding: 0.8rem;
  outline: none;
  accent-color: #e3e3e361;
  border-radius: 0.4rem;
  color: #e3e3e361;
  border: 0.12rem solid#e3e3e361;
  background: transparent;
}

.container .form .input__wrapper input:focus{
  border: 0.12rem solid#e3e3e3bc;
  color: #e3e3e3bc;
}

.container .form .checkbox__wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 2rem;
}

.container .form .checkbox__wrapper .card{
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-direction: row;
}

.container .form .checkbox__wrapper .card input{
  border: 0.1rem solid #e3e3e3bc;
  border-radius: 0.1rem;
  padding: 0.4rem;
  cursor: pointer;
  accent-color: #e3e3e3bf;
}

.container .form .checkbox__wrapper .card p{
  color: #e3e3e3bf;
  font-size: 0.8rem;
}

.container .form .submit__btn{
  background: linear-gradient(130deg, #2aa0bd5a, #021221ba);
  border: none;
  width: 90%;
  padding: 0.8rem 1.5rem;
  font-size: 0.9rem;
  color: #e3e3e388;
  border-radius: 0.3rem;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.3s;
}

.container .form .submit__btn:hover {
  color: #e3e3e3f3;
}