@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "./scss/Variable.scss";
@import "./scss/Mixin.scss";
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font: inherit;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 0.3rem;
  height: 0.3rem;
  background: var(--color-blue-050);
}

*::-webkit-scrollbar-thumb {
  border-radius: var(--cardRadius);
  background: var(--color-primary);
}

html {
  color-scheme: dark light;
  font-family: $ff;
}

body {
  background: $bg-color-body;
  height: $full-height;
  min-height: $full-height-vh;
}

:is(input,
textarea,
select):focus,
:is(input,
textarea,
select) {
  outline: none;
}

button,
select {
  text-transform: none;
  -webkit-appearance: none;
  appearance: none;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

button::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button {
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  padding: $button-padding-small;
  text-align: inherit;
  cursor: pointer;
}

textarea {
  overflow: auto;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
}

:is(ol,
ul) {
  list-style: none;
}

[hidden] {
  display: none !important;
}

.Container {
  position: relative;
  height: $full-height;
  width: $containr-width;
  max-width: $containr-max-width;
  margin: 0 auto;
  @include screen-xs {
    width: 90%;
  }
  button {
    @include primary-button( auto,
    40px,
    (0 0),
    ($size-02rem $size-08rem),
    $small-radius,
    $fs-small,
    $fw-medium,
    $color-white-default,
    $color-primary);
    box-shadow: $shadow-basic;
  }
}